* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(56, 54, 54);
}

.container {
  position: relative;
  min-height: 500px;
  box-shadow: 10px 10px 55px black,
    10px 10px 25px black,
    5px 5px 50px black,
    10px 10px 50px black;
  border-radius: 20px;
}

.clock {
  position: relative;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: rgb(57, 54, 54);
  box-shadow: 10px 10px 30px 20px black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  z-index: 10000;
}

.clock::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}

.clock span {
  position: absolute;
  inset: 20px;
  transform: rotate(calc(30deg * var(--i)));
  text-align: center;
  font-size: 30px;
  color: white;
}

.circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.circle1 {
  width: 240px;
  height: 240px;
}

.circle2 {
  width: 180px;
  height: 180px;
}

.circle i {
  position: absolute;
  width: 6px;
  height: 50%;
  background: var(--sir);
  transform-origin: bottom;
  transform: scaleY(0.5);
}

.circle::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 15px;
  height: 15px;
  background: var(--sir);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--sir),
    0 0 20px var(--sir);
}

.time {
  display: flex;
  padding: 10px 20px;
  margin-left: 120px;
  font-size: 30px;
  margin-bottom: 50px;
  font-weight: 600;
  border: 2px solid black;
  width: 230px;
  border-radius: 20px;
  box-shadow: 15px 15px 30px black;
}

.time div {
  position: relative;
  margin: 5px;
}

.seconds {
  color: red;
}

.minutes {
  color: rgb(10, 205, 10);
}

.hour {
  color: rgb(26, 222, 199);
}

.pmam {
  color: yellow;
  font-size: 20px;
  padding: 5px;
}